body{
    background: white;
}

.logo{
    width: 50px;
    padding: 20px 20px;
    margin-top: -10px;
    display: flex;
    margin-left: -30px;
    height: 50px;

}

.search{
    width: 500px;
    border-radius: 6px;
padding-bottom: -5px;
    margin-left: -10px;
   

}

.fotter{
    display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;
padding-top: 10px;
margin-top: -10px;
gap: 60px;

}


.sign{
    color: white;
    background-color: red;
    width: 100px;
    justify-content: center;
    align-items: center;

}


.menu{

    background-color: lightslategray;
    border: 1px solid gray;
    
    display: flex;
  
}

.pp{
    color: red;
    font-size: large;
}

.tt{
    color: black;
    padding-left: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 0px solid ;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:500px;
    

}

.ppt{
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}

.csk{
    padding-top: 50px;
}


.rr{
    padding-left: 20px;
    
    
    
}

.ll{
    border: 1px solid black;
    padding: 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: black;
    border-radius: 14px;
    
    justify-content: center;
    align-items: center;
    margin-top: 390px;
    margin-left: -190px;
    margin-bottom: 100px;
}

.movies{
    position: relative;
    
   

}

.rrk{
    padding-left: 20px;
}

.dum{
    border: 1px solid black;
    padding: 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: black;
    border-radius: 14px;
    
    justify-content: center;
    align-items: center;
    margin-top: 390px;
    margin-left: -190px;
    margin-bottom: 100px;
    
}

.fail{
    margin-left: 400px;
    margin-top: -365px;
    position: relative;
}

.gap{
    padding: 0 20px;
}
